{% extends "base.html" %}

{% load staticfiles %}

{% block title %} 栏目管理 {% endblock %}

{% block header %}
<nav class="navbar navbar-expand-sm bg-dark">
   <ul class="navbar-nav text-center" style="width:100%;">
    <li class="nav-item">
        <a href="/home"><img src="{% static 'Image/logo.png' %}" class="rounded-circle" width="40%"> </a>
    </li>
      <li class="nav-item dropdown">
           <button class="btn btn-primary bg-white nav-link dropdown-toggle" data-toggle="dropdown" style="margin:0 auto;color:black;font-family: 华文新魏;font-size:1.2rem;">{{ user.username }}</button>
          <div class="dropdown-menu text-center">
              <a class="dropdown-item" href="{% url 'account:password_change' %}">修改密码</a>
              <a class="dropdown-item" href="{% url 'account:logout' %}">退出登陆</a>
              <a class="dropdown-item" href="{% url 'BlogPost:PostManage' %}">后台管理</a>
              <!--<a class="dropdown-item" href="#" onclick="functionDoesNotbuild()">个人信息</a>-->
          </div>
       </li>
 <li class="nav-item">
      <a class="nav-link" href="/home"><p>首页</p></a>
    </li>
   <li class="nav-item">
      <a class="nav-link" href="{% url 'BlogPost:PostManage' %}"><p>文章管理</p></a>
    </li>
       <li class="nav-item">
      <a class="nav-link" href="{% url 'BlogPost:ColumnManage' %}"><p>栏目管理</p></a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="{% url 'BlogPost:PersonalInformations' %}"><p>个人信息</p></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:" onclick="functionDoesNotbuild()"><p>美图页面</p></a>
    </li>
  </ul>
</nav>

{% endblock %}
{% block content %}
<div class="row my-content">
<div class="left-side col-5 col-sm-5 col-md-2"  style="margin:10px">
    <ul class="nav">
    <li class="nav-item text-center">
      <a class="nav-link disabled" href="#">栏目管理</a>
    </li>
  </ul>
</div>
<div class="PostManage col-5 col-sm-5 col-md-9"style="margin:10px;">
        <p class="text-right"><button class="btn btn-primary" onclick="add_column()">新增栏目</button> </p>
</div>
</div>
<div class="row">
    <div class="col-md-2" style="margin:10px">
    </div>
    <div class="col-12 col-sm-12 col-md-9" style="margin:10px">
        <table class="table table-hover">
            <tr>
                <td>序号</td>
                <td>栏目名称</td>
                <td>发表时间</td>
                <td>操作</td>
            </tr>
            {% for column in columns %}
            <tr>
                <td>{{ forloop.counter}}</td>
                <td>{{ column.column }}</td>
                <td>{{ column.created_time }}</td>
                <td>
                    <a href="javascript:" name="edit" onclick="edit_column(this,{{ column.id }})" style="color:black;font-size:1.2rem;margin-right: 4px;"> <span class="fa fa-pencil-square"></span></a>
                    <a href="javascript:" name="delete" onclick="delete_column(this,{{ column.id }})" style="color:black;font-size:1.2rem;margin-left: 4px;"> <span class="fa fa-trash"></span></a>
                </td>
            </tr>
            {% empty %}
            <p>赶紧添加你的第一个栏目吧~</p>
            {% endfor %}
        </table>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/csrf.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layer.js' %}"></script>
<script type="text/javascript" src="{% static 'js/OwnCss.js' %}"></script>
<script type="text/javascript">

function add_column(){
        var index = layer.open({
            type:1,
            skin:"layui-layer-rim",
            area:["400px","200px"],
            content:'<div class="text-center"><p>请输入栏目名称</p><p>{{ column_form.column }}</p></div>',
            btn:['确定','取消'],
            btnAlign:"c",
            yes:function (index,layero) {
                column_name = $('#id_column').val();
                console.log(column_name);
                $.ajax({
                    url:"{% url 'BlogPost:ColumnManage' %}",
                    data:{"column":column_name},
                    type:"POST",
                    success:function (e) {
                        if (e=="1"){
                            layer.msg("增加栏目成功");
                            parent.location.reload();
                        }
                        else{
                            layer.msg("此栏目已有,请更换名称.");
                        }
                    },
                });
            },
            btn2:function (index,layero) {
                layer.close(index);
            }
        });
    }

    function edit_column(the,column_id) {
        var name = $(the).parents("tr").children("td").eq(1).text();
        var index = layer.open({
            type: 1,
            skin: "layui-layer-rim",
            area: ["400px", "250px"],
            title: "栏目编辑",
            content: "<div class='text-center' style='margin-top:20px'><p>请编辑栏目的名称</p><p><input type='text' id='newColumn' value='" + name + "'> </p></div>",
            btn: ['确定', '取消'],
            btnAlign: "c",
            yes: function (index, layero) {
                new_name = $("#newColumn").val();
                $.ajax({
                    type: "POST",
                    data: {"column_id": column_id, "column_name": new_name},
                    url: '/BlogPost/ColumnEdit/',
                    success: function (e) {
                        if (e == "1") {
                            parent.location.reload();
                            layer.msg("修改成功！");
                        }
                        else {
                            layer.msg("新的名称没有保存，修改失败！");
                        }
                    },
                    btn2: function () {
                        layer.close(index);
                    },
                });
            },
        });
    }
          function delete_column(the,column_id) {
            var name=$(the).parents("tr").children("td").eq(1).text();
            var index =layer.open({
                type:1,
                skin:['layui-layer-rim'],
                area:["400px","200px"],
                title:"删除栏目",
                content:'<div class="text-center"><p>是否确定删除栏目 '+name+' </p></div>',
                btn:['确定','取消'],
                btnAlign:"c",
                yes:function () {
                    $.ajax({
                        type:"POST",
                        data:{"column_id":column_id},
                        url:"/BlogPost/ColumnDel/",
                        success:function (e) {
                            if (e=="1"){
                                parent.location.reload();
                                layer.msg("删除成功");
                            }
                            else{
                                layer.msg("删除失败")
                            }
                        },
                    });
                },
            });
          }

</script>
{% endblock %}
